.rounded {
    border-radius: 10px;
}

.badge {
    text-align: center;
    font-size: 10pt;
    font-style: bold;
    color: white;
    border-radius:7px;
    padding-left:15px;
    padding-right:15px;
}

.uv-warning {
    background-color: goldenrod;
}

.weathericon {
    width:32px;
    height:32px;
}
.weathericonsml {
    width:18px;
    height:18px;
}

.border {
    border-style: solid;
    border-width: thin;
}

.border-dark {
    border-color: black;
}
